// Set your brand colors
$blue: hsl(201, 100%, 50%);
$blue-light: hsl(200, 100%, 97%);
$navy: hsl(204, 100%, 14%);
$orange: hsl(12, 85%, 55%);
$red: hsl(359, 71%, 55%);
$grey: hsl(203, 19%, 42%);

// Set font families
$family-sans: "'Source Sans 3', sans-serif";
$family-serif: "'Source Serif 4', serif";
$family-mono: "'Source Code Pro', monospace"; 

// Spacing scale (the same as Bulma's default)
$spacing-values: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.5rem,
  6: 2rem,
  7: 3rem,
  8: 4rem
);

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: $family-sans,
  $family-secondary: $family-serif,
  $family-code: $family-mono,

  $blue: $blue,
  $orange: $orange,
  $red: $red,
  $grey: $grey,

  $primary: $blue,
  $light: $blue-light,
  $dark: $navy,
  $warning: $orange,
  $radius-small: 0,
  $radius: 0,
  $radius-large: 0,
  $radius-rounded: 0,

  $title-family: $family-serif,
  $title-color: $navy,

  $body-size: 1.15em,

  // Enable generation of responsive helpers
  $spacing-shortcuts: (margin: "m", padding: "p"),
  $spacing-horizontal: "x",
  $spacing-vertical: "y",
  $spacing-values: $spacing-values
);

// Import Bulma utilities for mixins
@use "bulma/sass/utilities/mixins" as mixins;
// Import the responsive spacing utilities
@use 'spacing';

:root{
  interpolate-size: allow-keywords;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');



.title{
  &.is-1{
    font-size: clamp(2.5rem, 5vw, 4.3rem);
  }
  &.is-2{
    font-size: clamp(1.5rem, 4vw, 3.2rem);
  }
}

.subtitle {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $grey;
  font-family: var(--bulma-code-family);
}

.object-cover {
  object-fit: cover;
}

.is-4by3 {
  aspect-ratio: 4/3;
}

.button {
  &.is-outlined {
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsl(
        var(--bulma-button-h),
        var(--bulma-button-s),
        var(--bulma-button-l)
      );
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease;
      z-index: -1;
    }

    &:hover {
      border-color: currentColor !important;
      color: var(--bulma-button-hover-color, white) !important;

      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  &:not(.is-outlined) {
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
    overflow: hidden;
    background: none !important;
    border: 1px solid transparent;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background 0.3s ease-in-out;
      background: hsl(
        var(--bulma-button-h),
        var(--bulma-button-s),
        var(--bulma-button-l)
      );
      transform: scaleX(1);
      transform-origin: left;
      transition: transform 0.3s ease;
      z-index: -1;
    }

    &:hover {
      color: hsl(
        var(--bulma-button-h),
        var(--bulma-button-s),
        var(--bulma-button-l)
      ) !important;
      border: 1px solid currentColor !important;

      &::before {
        transform: scaleX(0);
        transform-origin: right;
      }
    }
  }
}
.image{ 
  &[class*="is-"][class*="by"] {
    img{
      object-fit: cover;
    }
  }
}